<?xml version="1.0" encoding="utf-8" ?>
<data>
<!--
注意:excel文件的不需要写路径了.都会在命令行中统一加上table的目录;(当然如果有额外的子目录请加上)
constant.xlsx 注意这个文件是程序用的特殊处理过的,不会加上目录前缀的;

node节点:
	type="client"
	xlsx=xlsx文件路径+名字;
	page=里面的工作表(页);
	key=获取单条数据时的索引(例如生成英雄数据时,会将所有英雄数据写到一个dictionary中,同时使用key定义的变量作为索引;
		如果这个字段为空,则会将所有数据写到一个数组中;例如:CityPathConfig
	out=生成的二进制文件输出目录+名字;
	code=需要生成的代码文件路径+名字

	localization	是否需要本地化成对应的语言;
	optional		可选列,获取对应语言的所在列;

item节点:
	type=变量类型;
	name=配置项名字;
	code=变量名;
	replace=替换某个值;
		例如:hero.xlsx中的品质配的是汉字"金,白,绿"等,游戏中需要换成对应到的常量;GOLD等..
		而常量定义在constant.xlsx的"品质"表中;表内有两列,一列是"颜色"(值是汉字),另一列是对应的常量"名字";
		则replace中写=constant.xlsx|品质|颜色|名字;(新内容所在的文档|新文档中的表|要查找的字段|查找到对应的字段后取的值所在的列)
		gap= 暂时没用;
	
	字段值不能含有%之类的特殊字符
	
	2014_3_21修改:
	注释功能: 现在代码中属性的默认的注释就是xml中name属性值,可以使用comment="品质的索引"来描写更贴切的注释;
	新的替换方法;
		例如xlsx中表品质都是配汉字,而代码中希望用数字的话则可以;
		newReplace="白,绿,蓝,资,金|1,2,3,4,5";就会自动替换了;
		newReplace可以和replace搭配使用了;
-->
	<!--<node type="client" xlsx="parameter.xlsx" page="参数" key="" out="parameter.tbl" code="ParamConfig">
		<item type="string" name="参数项" code="param" />
		<item type="string" name="性别" code="value" replace="constant.xlsx|性别|性别|值" />
		<item type="int" name="颜色" code="color" replace="constant.xlsx|品质|颜色|值" />
	</node>
	<node type="client" xlsx="parameter.xlsx" page="参数" key="" out="parameter2.tbl" code="Param2Config">
		<item type="string" name="参数项" code="param" />
		<item type="string" name="性别" code="value" replace="constant.xlsx|性别|性别|值" />
		<item type="int" name="颜色" code="color" replace="constant.xlsx|品质|颜色|值" />
	</node>-->

	<node type="as,java" xlsx="enemyPlane.xlsx" page="enemy" key="id" out="enemyPlane.tbl" code="EnemyPlaneConfig">
		<item type="int" name="ID" code="id" comment="唯一识别"/>
		<item type="string" name="skin" code="skin" comment="皮肤"/>
        <item type="int" name="speed" code="speed" comment="速度"/>
		<item type="int" name="hp" code="hp" comment="血量"/>
        <item type="int" name="reward" code="reward" comment="奖励"/>
        <item type="int" name="star" code="star" comment="星数"/>
	</node>
	<node type="java" xlsx="bank.xlsx" page="理财项目" out="bank.tbl" code="BankItemConfig">
		<item type="int" name="ID" code="itemId" comment="理财项目编号"/>
		<item type="int" name="价格" code="price" comment="价格"/>
		<item type="int" name="收益" code="income" comment="收益"/>
		<item type="int" name="步数" code="step" comment="步数"/>
	</node>
	
	<node type="java" xlsx="道具.xlsx" page="基础资源品质" out="base_resource.tbl" code="BaseResourceQualityConfig">
		<item type="int" name="ID" code="id" comment="资源id"/>
		<item type="int" name="基础物品名称" code="sameResourceId" replace="道具.xlsx|基础资源|基础资源名称|基础物品编号" comment="基础资源id(不区分品质)"/>
		<item type="int" name="基础物品名称" code="plantOrAnimal" replace="道具.xlsx|基础资源|基础资源名称|植物还是动物" comment="植物1 动物2"/>
		<item type="int" name="品质" code="quality" comment="品质"/>
		<item type="int" name="权重" code="weight" comment="权重"/>
		<item type="int" name="价格" code="price" comment="价格"/>
		<item type="int" name="产量" code="output" comment="产量"/>
		<item type="int" name="成功率" code="successRate" comment="成功率"/>
	</node>

	<node type="java" xlsx="道具.xlsx" page="合成资源的配方" out="compound_formula.tbl" code="CompoundFormulaConfig">
		<item type="int" name="合成物类型" code="id" comment="合成资源id" replace="道具.xlsx|没有颜色的合成资源|名称|合成资源编号"/>
		<item type="int" name="基础物品编号" code="baseResourceId" comment="基础资源的id" replace="道具.xlsx|基础资源|基础资源名称|基础物品编号"/>		
		<item type="int" name="基础物品编号" code="plantOrAnimal" comment="植物还是动物" replace="道具.xlsx|基础资源|基础资源名称|植物还是动物"/>		
		<item type="int" name="数量" code="num" comment="合成需要的数量"/>
	</node>

	<node type="java" xlsx="道具.xlsx" page="有颜色的合成资源" out="compound_resource.tbl" code="CompoundResourceConfig">
		<item type="int" name="合成物品编号" code="id" comment="编号"/>
		<item type="int" name="合成物类型" code="compoundId" comment="合成物id" replace="道具.xlsx|没有颜色的合成资源|名称|合成资源编号"/>
		<item type="int" name="染料" code="colorId" comment="染料id" replace="道具.xlsx|染料种类|染料名|染料id"/>
		<item type="int" name="染料" code="colorCost" comment="染料价格" replace="道具.xlsx|染料种类|染料名|价格"/>
		<item type="int" name="价格" code="price" comment="合成物价格"/>
	</node>

	<node type="java" xlsx="道具.xlsx" page="染料配方" out="color_formula.tbl" code="ColorFormulaConfig">
		<item type="int" name="配方id" code="formulaId" comment="染料配方id"/>
		<item type="int" name="染料名" code="colorId" comment="染料id" replace="道具.xlsx|染料种类|染料名|染料id"/>
		<item type="int" name="染料名" code="price" comment="染料价格" replace="道具.xlsx|染料种类|染料名|价格"/>
		<item type="int" name="合成1" code="colorId1" comment="合成染料1id" replace="道具.xlsx|染料种类|染料名|染料id"/>
		<item type="int" name="合成1" code="price1" comment="合成染料1价格" replace="道具.xlsx|染料种类|染料名|价格"/>
		<item type="int" name="合成2" code="colorId2" comment="合成染料2id" replace="道具.xlsx|染料种类|染料名|染料id"/>
		<item type="int" name="合成2" code="price2" comment="合成染料2价格" replace="道具.xlsx|染料种类|染料名|价格"/>
	</node>
</data>
